{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<h1>Все посты</h1>
<h3>{{ Posts|length }}</h3>
<hr size="20">

<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти" />
</form>

{% if Posts %}
{% for Post in Posts %}

<hr size="20">
<h1>{{ Post.heading|currency }}</h1>
<h2>{{ Post.date_time|date:'d M Y' }}</h2>
<h2>{{ Post.preview|currency }}</h2>
<hr size="20">

{% endfor %}
{% else %}
<h2>Постов нет!</h2>
{% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}


{% endblock content %}